/**
  * what: top brand
  * why: prominant display for the user
  */
.brand {
  font-size: 3em;
  margin-top: 0; //reset h2
  text-align: center;
  text-shadow: 0 -1px $color-black-transparent-70,
  0 -2px $color-black-transparent-70; //embedded effect
}

ul{
  list-style: none;
  padding: 5px;
  margin: 0;
  .o-camper{
    padding: 0;
    margin-bottom: 10px;
  }

  .c-camper__image{
    width: 15%;
    margin-right: 10px;
    border-radius: 3px;
  }

  .c-camper__name {
    width: 50%;
    display: inline-block;
  }

  .c-camper__score--recent{
    width: 15%;
    display: inline-block;
  }
  .c-camper__score--alltime{
    width: 15%;
    display: inline-block;
  }
}
