/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
html {
  height: 100%; }

body {
  min-height: 100%;
  margin: 0;
  background: #FCE4EC;
  color: #E91E63;
  font-size: 16px; }
  @media (min-width: 321px) {
    body {
      padding-top: 1em; } }

h1,
h2,
h3,
h4 {
  margin-bottom: 5px; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  padding: 5px;
  box-sizing: border-box; }
  @media (min-width: 321px) {
    .container {
      border-radius: 10px; } }

/**
  * what: top brand
  * why: prominant display for the user
  */
.brand {
  font-size: 3em;
  margin-top: 0;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.7), 0 -2px rgba(0, 0, 0, 0.7); }

.subtitle {
  text-align: center;
  margin: -10px auto 20px;
  color: #0D47A1; }

button {
  border: none;
  padding: 10px;
  font-size: 1.2em;
  width: 50%;
  color: #fff;
  color: rgba(255, 255, 255, 0.7); }

.lastThirtyDaysLeaders {
  background-color: #D32F2F;
  background-image: -webkit-linear-gradient(top, #D32F2F, #ab2424);
  background-image: linear-gradient(to bottom, #D32F2F, #ab2424); }

.allTimeLeaders {
  background-color: #388E3C;
  background-image: -webkit-linear-gradient(top, #388E3C, #2a692d);
  background-image: linear-gradient(to bottom, #388E3C, #2a692d); }

ul {
  list-style: none;
  padding: 5px;
  margin: 0; }
  ul .o-camper {
    padding: 0;
    margin-bottom: 10px;
    height: 45px; }
  ul .o-camper__header {
    font-size: 1.2em; }
  ul .c-camper__header__user {
    display: inline-block;
    width: 60%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  ul .c-camper__header__brownie {
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }
  ul .c-camper__image {
    width: 15%;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle; }
  ul .c-camper__name {
    width: 50%;
    display: inline-block;
    color: #0D47A1; }
  ul .c-camper__score--recent {
    width: 15%;
    display: inline-block;
    color: #D32F2F; }
  ul .c-camper__score--alltime {
    width: 15%;
    display: inline-block;
    color: #388E3C; }
